<h2>Welcome to Spider ID!</h2>
<br>
<p>
	This web app is dedicated to gathering all information we currently have about Arachnids and 
	presenting it in an easy to search format. This tool is intended to be both a scientific 
	repository, as well as a user facing tool.
</p>
<br>
<p>
	Check out our <a href="<%= api_v1_api_info_url %>.json">API</a>!
</p>